
<div class="w3-display-container" style="margin-bottom:50px">
  <img src="https://all4desktop.com/data_images/original/4241528-park.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
  <h1><p>WELCOME TO </p><h1><b>OZONE PARK</b></h1>
</div>


</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="https://www.boweryboyshistory.com/wp-content/uploads/2015/09/postcard.jpg" style="width:100%"> 
    <br><br><h2><b>History of Ozone Park</b></h2>
    <p><i style="color:darkgoldenrod">Learn about Ozone Park's rich history</i></p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="https://images.unsplash.com/photo-1519331379826-f10be5486c6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFya3xlbnwwfHwwfHw%3D&w=1000&q=80" style="width:100%">
    <h2><b>Parks and Recreation</b></h2>
    <p><i style="color:darkgoldenrod">View the beautiful parks in the neighborhood.</i></p>
  </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://static.independent.co.uk/2020/09/17/10/goodfellas-poster.jpg?width=982&height=726&auto=webp&quality=75" style="width:100%">
    <h2><b>Filmography</b></h2>
    <p><i style="color:darkgoldenrod">View some of the films shot in Ozone Park</i> </p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://newyork.cbslocal.com/wp-content/uploads/sites/14578484/2015/04/ap900123067.jpg" style="width:100%">
    <h2><b>Famous Residents</b></h2>
    <p><i style="color:darkgoldenrod">Learn about some of the famous people who have lived in Ozone Park.</i></p>
    </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/GGF_Race5.jpg" style="width:100%">
    <h2><b>Aqueduct Racetrack</b></h2>
    <p><i style="color:darkgoldenrod">Eager to place a bet ? Visit the Racetrack!</i></p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://www.thecitizen.co.tz/resource/blob/3630006/d8d111d84320f5b71e4d35e7311db3fc/scam-pic-data.jpg" style="width:100%">
    <h2><b>Apply here</b></h2>
    <p><i style="color:darkgoldenrod">Don't wait until it is to late.</i></p>
    </div>
</div>
</div>

<%= link_to 'History', welcome_about_path %>

